.outer{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  
 
}

.poster{
  height: 500px;
    width: 380px;
    
    
    
}
.cont{
  width: 340px;
  height:fit-content;
  
}
.Movie{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  
}
h2{
  font-size: 20px;
  margin: 0;
  margin-top: 1px;
}
.inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 340px;

}
.Movie-boxes{
  display: flex;
  flex-direction: column;
}
/* .name{
  display:flex;
}
.posters{
  display:flex;
}
.rating{
  display:flex;
}
.summary{
  display:flex;
} */
.add-movie-form{
  display: flex;
  flex-direction: column;
  gap:10px;
  padding: 24px;
  width:100%;
}
.movie-detail-container{
  max-width: 900px;
}
.route-container{
  padding: 16px;
}
.movie-list{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
}

