.outer{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.poster{
  height: 640px;
    width: 340px;
    object-fit: cover
    
}
.cont{
  width: 340px;
  height:fit-content;
}
.Movie{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
h3{
  font-size: 24px;
  /* margin: 0; */
  /* margin-top: 1px; */
}
.inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 340px;

}